[color]
	ui = auto

[alias]
    bb = "!~/.config/git/better-branch.sh"
    co = checkout

[user]
    name = "Steven Sermeus"
    email = "stevensermeus@gmail.com"
	signingKey = D53CCDB936980926

[includeIf "gitdir:~/git/school/"]
    path = ~/.config/git/school/.gitconfig

[includeIf "gitdir:~/git/personal/"]
    path = ~/.config/git/personal/.gitconfig

[includeIf "gitdir:~/.dotfiles/"]
    path = ~/.config/git/personal/.gitconfig

[commit]
	gpgSign = true
