[core]
  editor = nvim

[color]
	ui = auto

[alias]
    bb = "!~/.config/git/better-branch.sh"
    co = checkout

[user]
    name = "Steven Sermeus"
    email = "stevensermeus@gmail.com"
    signingKey = E3A9F34AE4073EB36367295D39DBB83F93F72084
    
[commit]
	gpgSign = true

[includeIf "gitdir:~/git/school/"]
    path = ~/.config/git/school/.gitconfig

[includeIf "gitdir:~/git/personal/"]
    path = ~/.config/git/personal/.gitconfig

[includeIf "gitdir:~/.dotfiles/"]
    path = ~/.config/git/personal/.gitconfig

[rerere]
    enabled = true

[pgp]
    program = /opt/homebrew/bin/gpg

[url "git@github.com:"]
	insteadOf = "https://github.com/"

[url "git@gitlab.com:"]
  insteadOf = "https://gitlab.com/"